:root {
  --dark-grey: #323133;
  --nandos-red: #d2182f;
  --light-grey: #2d2929;
  --nandos-green: #8dc922;
  --grey-fade: rgba(50, 49, 51, .05);
  --bg-brown: #23120e;
  --nandos-yellow: #ffad43;
  --nandos-orange: #ff6900;
}

body {
  color: #000;
  font-family: Roboto, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: Nandos hand alt, sans-serif;
  font-size: 4.5rem;
  font-weight: 400;
  line-height: 1.1;
}

h2 {
  text-transform: capitalize;
  margin-top: 0;
  margin-bottom: 1rem;
  font-family: Nandos hand alt, sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1;
}

h3 {
  margin-top: 0;
  margin-bottom: 1rem;
  font-family: Nandos hand alt, sans-serif;
  font-size: 2rem;
  line-height: 1.1;
}

h4 {
  text-transform: capitalize;
  margin-top: 0;
  margin-bottom: .5rem;
  font-size: 1.1rem;
  font-weight: 700;
  line-height: 1.4;
}

h5 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.5;
}

h6 {
  margin-top: 0;
  margin-bottom: 1rem;
  font-family: Roboto, sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
}

p {
  margin-bottom: 1rem;
}

ul, ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 1.5rem;
}

li {
  margin-bottom: .25rem;
}

img {
  max-width: 100%;
  display: inline-block;
}

label {
  margin-bottom: .25rem;
  font-weight: 500;
}

blockquote {
  color: #000;
  background-color: rgba(0, 0, 0, .05);
  border: 1px #000;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 1.65rem 1.65rem 1.65rem 2.25rem;
  font-family: Nandos hand alt, sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
  transform: rotate(-1deg);
}

figure {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

figcaption {
  text-align: center;
  margin-top: .25rem;
}

.utility-page_component {
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  display: flex;
}

.utility-page_form-block {
  max-width: 20rem;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  text-align: center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  display: flex;
}

.utility-page_form {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  display: flex;
}

.utility-page_image {
  margin-left: auto;
  margin-right: auto;
}

.global-styles {
  display: block;
  position: fixed;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: auto;
}

.margin-custom2 {
  margin: 2.5rem;
}

.padding-xlarge {
  padding: 4rem;
}

.margin-xlarge {
  margin: 4rem;
}

.margin-xsmall {
  margin: .5rem;
}

.padding-xhuge {
  padding: 8rem;
}

.margin-custom1 {
  margin: 1.5rem;
}

.padding-0 {
  padding: 0;
}

.padding-xxhuge {
  padding: 12rem;
}

.padding-huge {
  padding: 6rem;
}

.margin-large {
  margin: 3rem;
}

.padding-xxlarge {
  padding: 5rem;
}

.margin-xxsmall {
  margin: .25rem;
}

.padding-custom3 {
  padding: 3.5rem;
}

.padding-large {
  padding: 3rem;
}

.margin-tiny {
  margin: .125rem;
}

.padding-small {
  padding: 1rem;
}

.padding-custom2 {
  padding: 2.5rem;
}

.margin-custom3 {
  margin: 3.5rem;
}

.padding-custom1 {
  padding: 1.5rem;
}

.margin-huge {
  margin: 6rem;
}

.padding-medium {
  padding: 2rem;
}

.padding-xsmall {
  padding: .5rem;
}

.margin-xxlarge {
  margin: 5rem;
}

.padding-xxsmall {
  padding: .25rem;
}

.margin-xhuge {
  margin: 8rem;
}

.padding-tiny {
  padding: .125rem;
}

.margin-small {
  margin: 1rem;
}

.margin-medium {
  margin: 2rem;
}

.margin-xxhuge {
  margin: 12rem;
}

.margin-0 {
  margin: 0;
}

.margin-horizontal {
  margin-top: 0;
  margin-bottom: 0;
}

.padding-top {
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

.margin-vertical {
  margin-left: 0;
  margin-right: 0;
}

.margin-bottom {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}

.padding-left {
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0;
}

.padding-vertical {
  padding-left: 0;
  padding-right: 0;
}

.padding-horizontal {
  padding-top: 0;
  padding-bottom: 0;
}

.margin-right {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.margin-top {
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}

.margin-left {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
}

.padding-right {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
}

.padding-bottom {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
}

.form_checkbox {
  flex-direction: row;
  align-items: center;
  margin-bottom: .5rem;
  padding-left: 0;
  display: flex;
}

.form_checkbox-icon {
  width: .875rem;
  height: .875rem;
  border-radius: .125rem;
  margin: 0 .5rem 0 0;
}

.form_checkbox-icon.w--redirected-checked {
  width: .875rem;
  height: .875rem;
  background-size: 90%;
  border-radius: .125rem;
  margin: 0 .5rem 0 0;
}

.form_checkbox-icon.w--redirected-focus {
  width: .875rem;
  height: .875rem;
  border-radius: .125rem;
  margin: 0 .5rem 0 0;
  box-shadow: 0 0 .25rem 0 #3898ec;
}

.fs-styleguide_background {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, .1);
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  display: flex;
}

.fs-styleguide_spacing {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  background-image: linear-gradient(to top, rgba(0, 115, 230, .1), rgba(255, 255, 255, 0));
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  align-content: start;
  justify-content: start;
  align-items: start;
  justify-items: stretch;
  display: grid;
  position: relative;
}

.icon-1x1-small {
  width: 1rem;
  height: 1rem;
  flex: none;
}

.overflow-auto {
  overflow: auto;
}

.spacing-clean {
  margin: 0;
  padding: 0;
}

.icon-1x1-large {
  width: 2.5rem;
  height: 2.5rem;
}

.z-index-2 {
  z-index: 2;
  position: relative;
}

.fs-styleguide_background-space {
  width: 1px;
  height: 1px;
  margin: 5rem;
}

.text-weight-semibold {
  font-weight: 600;
}

.text-style-strikethrough {
  text-decoration: line-through;
}

.fs-styleguide_item {
  grid-column-gap: 1.125rem;
  grid-row-gap: 1.125rem;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  align-content: start;
  justify-content: start;
  align-items: start;
  justify-items: start;
  padding-bottom: 3rem;
  display: grid;
  position: relative;
}

.fs-styleguide_item.is-stretch {
  justify-items: stretch;
}

.max-width-full {
  width: 100%;
  max-width: none;
}

.fs-styleguide_item-header {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  padding-bottom: 2rem;
}

.fs-styleguide_heading-large {
  font-size: 6rem;
}

.background-color-black {
  color: #f5f5f5;
  background-color: #000;
}

.z-index-1 {
  z-index: 1;
  position: relative;
}

.text-color-black {
  color: #000;
}

.text-color-grey {
  color: gray;
}

.fs-styleguide_2-col {
  width: 100%;
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.fs-styleguide_2-col.is-align-start {
  align-items: start;
}

.form_message-success {
  padding: 1.25rem;
}

.fs-styleguide_row {
  grid-column-gap: .75rem;
  grid-row-gap: .75rem;
  flex-direction: row;
  grid-template-rows: auto;
  grid-template-columns: auto;
  grid-auto-columns: auto;
  grid-auto-flow: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.heading-style-h3 {
  font-family: Nandos hand alt, sans-serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2;
}

.text-rich-text h1, .text-rich-text h2, .text-rich-text h3, .text-rich-text h4 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.text-rich-text h5, .text-rich-text h6 {
  margin-top: 1.25rem;
  margin-bottom: 1rem;
}

.text-rich-text p {
  margin-bottom: 1rem;
}

.text-rich-text ul, .text-rich-text ol {
  margin-bottom: 1.5rem;
}

.container-small {
  width: 100%;
  max-width: 48rem;
  margin-left: auto;
  margin-right: auto;
}

.icon-height-small {
  height: 1rem;
}

.icon-1x1-medium {
  width: 2rem;
  height: 2rem;
}

.heading-style-h1 {
  font-family: Nandos hand alt, sans-serif;
  font-size: 4.5rem;
  font-weight: 400;
  line-height: 1.1;
}

.padding-global {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.text-weight-normal {
  font-weight: 400;
}

.padding-section-small {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  position: relative;
}

.max-width-small {
  width: 100%;
  max-width: 20rem;
}

.text-color-white {
  color: #fff;
}

.text-style-italic {
  font-style: italic;
}

.text-weight-medium {
  font-weight: 500;
}

.overflow-hidden {
  overflow: hidden;
}

.fs-styleguide_section-header {
  width: 100%;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  border-bottom: 1px solid #000;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  padding-bottom: 3rem;
  line-height: 1.4;
  display: grid;
}

.text-size-tiny {
  font-size: .75rem;
}

.max-width-xxlarge {
  width: 100%;
  max-width: 80rem;
}

.fs-styleguide_1-col {
  width: 100%;
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.overflow-visible {
  overflow: visible;
}

.fs-styleguide_empty-box {
  z-index: -1;
  height: 3rem;
  min-width: 3rem;
  background-color: rgba(0, 115, 230, .1);
  border: 1px dashed #0073e6;
  position: relative;
}

.text-weight-light {
  font-weight: 300;
}

.fs-styleguide_heading-medium {
  font-size: 4rem;
}

.max-width-xsmall {
  width: 100%;
  max-width: 16rem;
}

.fs-styleguide_4-col {
  width: 100%;
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.text-size-regular {
  font-size: 1rem;
}

.text-weight-xbold {
  font-weight: 800;
}

.text-align-right {
  text-align: right;
}

.text-weight-bold {
  font-weight: 700;
}

.max-width-medium {
  width: 100%;
  max-width: 32rem;
}

.fs-styleguide_item-wrapper {
  width: 100%;
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.max-width-large {
  width: 100%;
  max-width: 48rem;
}

.fs-styleguide_header-block {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  justify-items: start;
  display: grid;
}

.background-color-white {
  background-color: #fff;
}

.text-style-muted {
  opacity: .6;
}

.text-size-small {
  font-size: .875rem;
}

.heading-style-h4 {
  font-family: Roboto, sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.4;
}

.max-width-xlarge {
  width: 100%;
  max-width: 64rem;
}

.form_radio-icon {
  width: .875rem;
  height: .875rem;
  margin-top: 0;
  margin-left: 0;
  margin-right: .5rem;
}

.form_radio-icon.w--redirected-checked {
  width: .875rem;
  height: .875rem;
  border-width: .25rem;
}

.form_radio-icon.w--redirected-focus {
  width: .875rem;
  height: .875rem;
  box-shadow: 0 0 .25rem 0 #3898ec;
}

.text-style-nowrap {
  white-space: nowrap;
}

.text-align-left {
  text-align: left;
}

.background-color-grey {
  background-color: var(--dark-grey);
}

.form_input {
  min-height: 3rem;
  background-color: rgba(0, 0, 0, 0);
  margin-bottom: .75rem;
  padding: .5rem 1rem;
}

.form_input.is-text-area {
  min-height: 8rem;
  padding-top: .75rem;
}

.heading-style-h6 {
  font-family: Roboto, sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
}

.padding-section-large {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.fs-styleguide_3-col {
  width: 100%;
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: stretch;
  display: grid;
}

.fs-styleguide_3-col.is-align-start {
  align-items: start;
}

.text-style-link {
  color: #000;
  text-decoration: underline;
}

.text-size-large {
  font-size: 1.5rem;
}

.fs-styleguide_header {
  background-color: rgba(0, 0, 0, .05);
}

.heading-style-h2 {
  font-family: Nandos hand alt, sans-serif;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2;
}

.fs-styleguide_label {
  color: #fff;
  background-color: #0073e6;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: .25rem .75rem;
  font-weight: 600;
  line-height: 1.4;
  display: flex;
}

.fs-styleguide_label.is-tag {
  background-color: #be4aa5;
}

.fs-styleguide_label.is-hex {
  color: #000;
  background-color: #f5f5f5;
}

.fs-styleguide_version {
  z-index: 5;
  color: #000;
  font-weight: 500;
  text-decoration: none;
}

.heading-style-h5 {
  font-family: Roboto, sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.5;
}

.container-large {
  width: 100%;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}

.icon-height-medium {
  height: 2rem;
}

.text-style-allcaps {
  text-transform: uppercase;
}

.overflow-scroll {
  overflow: scroll;
}

.form_message-error {
  margin-top: .75rem;
  padding: .75rem;
}

.icon-height-large {
  height: 3rem;
}

.text-align-center {
  text-align: center;
}

.form_component {
  margin-bottom: 0;
}

.main-wrapper {
  min-height: 100vh;
  flex-direction: column;
  display: flex;
}

.max-width-xxsmall {
  width: 100%;
  max-width: 12rem;
}

.layer {
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.text-style-quote {
  border-left: .25rem solid #e2e2e2;
  margin-bottom: 0;
  padding: 0 1.25rem;
  font-size: 1.25rem;
  line-height: 1.5;
}

.align-center {
  margin-left: auto;
  margin-right: auto;
}

.button {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  color: #000;
  text-align: center;
  text-transform: capitalize;
  background-color: rgba(45, 41, 41, .1);
  justify-content: center;
  align-items: center;
  padding: .75rem 1.5rem;
  font-family: Nandos hand alt, sans-serif;
  font-weight: 400;
  line-height: 1.1;
  text-decoration: none;
  transition: all .3s cubic-bezier(.23, 1, .32, 1);
  display: flex;
  position: relative;
}

.button:hover {
  color: #fff;
  transform: rotate(2deg);
}

.button:focus-visible {
  outline-offset: 2px;
  outline: 4px solid #000;
}

.button[data-wf-focus-visible] {
  outline-offset: 2px;
  outline: 4px solid #000;
}

.button.w--current {
  background-color: var(--nandos-red);
  color: #fff;
}

.button.w--current:hover {
  color: #fff;
  transform: rotate(-2deg);
}

.button.is-text {
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid rgba(0, 0, 0, 0);
}

.button.is-small {
  padding: .5rem 1.25rem;
}

.button.is-large {
  padding: 1rem 2rem;
}

.button.is-secondary {
  border: 1px #000;
  font-family: Roboto, sans-serif;
  font-weight: 700;
}

.button.is-icon {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  display: flex;
}

.button.is-country-button:hover, .button.is-country-button.w--current:hover {
  color: #000;
}

.button.is-tab-link {
  color: var(--light-grey);
  background-color: rgba(45, 41, 41, .1);
}

.button.is-tab-link.current.w--current {
  background-color: var(--nandos-green);
}

.button.is-red {
  background-color: var(--nandos-red);
}

.button.is-flex-grow {
  flex: 1;
}

.button.is-page-nav {
  font-family: Roboto, sans-serif;
}

.button.is-page-nav.w--current {
  color: #000;
  background-color: #e5e5e5;
}

.button.is-page-nav.w--current:hover {
  color: #fff;
}

.button.is-page-nav {
  font-family: Nandos hand alt, sans-serif;
}

.button.is-feature {
  min-width: 15rem;
  text-align: left;
  flex: 1;
}

.button.is-main-nav {
  background-color: rgba(45, 41, 41, .1);
}

.button.is-main-nav .button-bg, 
.button.id-feature .button-bg {
  transition: width .3s cubic-bezier(.23, 1, .32, 1);
}


.button.is-main-nav:hover .button-bg, 
.button.is-feature:hover .button-bg {
  width: 100%;
}


.button.is-main-nav.w--current {
  background-color: var(--nandos-red);
}

.fs-styleguide_classes {
  grid-column-gap: 1px;
  grid-row-gap: 1px;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.text-size-medium {
  font-size: 1.25rem;
}

.fs-styleguide_section {
  grid-column-gap: 6rem;
  grid-row-gap: 6rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  align-items: start;
  justify-items: start;
  display: grid;
}

.fs-styleguide_section.is-vertical {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  grid-template-columns: 1fr;
}

.button-group {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-flow: wrap;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.hide {
  display: none;
}

.padding-section-medium {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.container-medium {
  width: 100%;
  max-width: 64rem;
  margin-left: auto;
  margin-right: auto;
}

.form_radio {
  flex-direction: row;
  align-items: center;
  margin-bottom: .5rem;
  padding-left: 0;
  display: flex;
}

.home-message_content-grid {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: start;
  display: grid;
}

.home-message_component {
  min-height: 100vh;
  color: #fff;
  padding: 3rem;
  display: flex;
}

.home-message_list {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  justify-items: start;
  display: grid;
}

.home-message_content {
  width: 100%;
  color: #000;
  background-color: rgba(0, 0, 0, .05);
  flex-direction: column;
  justify-content: center;
  align-self: stretch;
  align-items: stretch;
  display: flex;
}

.home-message_heading-block {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.home-message_item {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.home-message_item-icon {
  width: 1.75rem;
  height: 1.75rem;
  color: #000;
  background-color: #fff;
  flex: none;
}

.home-message_logo {
  width: 4rem;
}

.fs-styleguide_spacing-all {
  display: none;
}

.fs-styleguide_color.is-1 {
  background-color: #000;
}

.fs-styleguide_color.is-2 {
  background-color: #f5f5f5;
}

.fs-styleguide_color.is-3 {
  background-color: #fff;
}

.fs-styleguide_color.is-4 {
  background-color: var(--nandos-green);
}

.dashboard-nav {
  width: 20%;
  max-width: 20rem;
  min-width: 16rem;
  background-color: rgba(221, 221, 221, 0);
  flex-direction: column;
  grid-template-rows: min-content min-content;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  align-items: start;
  display: grid;
  position: -webkit-sticky;
  position: sticky;
  top: 2.5rem;
}

.dashboard {
  z-index: 1;
  width: 100%;
  height: 100%;
  max-width: 1440px;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  flex: 1;
  grid-template-rows: auto;
  grid-template-columns: auto 1fr;
  grid-auto-columns: 1fr;
  align-items: start;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  position: relative;
}

.dashboard-content {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  border-left: 1px solid rgba(0, 0, 0, .1);
  flex-direction: column;
  flex: 1;
  padding-left: 2rem;
  display: flex;
}

.background-color-light-grey {
  background-color: var(--light-grey);
}

.background-color-green {
  background-color: var(--nandos-green);
}

.dashboard-nav_logo {
  grid-row-gap: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 0;
  display: flex;
}

.dashboard-nav_logo:focus-visible {
  outline-offset: 2px;
  outline: 4px solid #000;
}

.dashboard-nav_logo[data-wf-focus-visible] {
  outline-offset: 2px;
  outline: 4px solid #000;
}

.dashboard-nav_countries {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-direction: column;
  flex: 1;
  align-self: stretch;
  display: flex;
}

.dashboard-info {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: auto;
  display: flex;
}

.dashboard-content_tabs {
  flex-direction: column;
  flex: 1;
  display: flex;
}

.tab-contents {
  flex: 1;
  overflow: visible;
}

.dashboard-country_info {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: .5rem;
  display: flex;
}

.dashboard-bg {
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.dashboard-bg.is-zimbabwe {
  z-index: 0;
  background-image: url('../images/mozam-bg.webp');
  background-position: 0 0;
  background-size: auto;
}

.tab-menu {
  z-index: 1;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  display: flex;
}

.grid {
  flex-wrap: wrap;
  flex: 1;
  margin: -.75rem;
  display: flex;
}

.grid.is-desktop-3-4 {
  flex: 0 75%;
}

.grid.is-desktop-1-4 {
  flex: 0 25%;
}

.grid-item {
  min-width: 15rem;
  flex: 25%;
  padding: .5rem;
}

.grid-item.is-desktop-1-2 {
  flex-basis: 50%;
}

.grid-item.is-desktop-3-4 {
  flex-basis: 75%;
}

.grid-item.is-desktop-1-6 {
  flex-basis: 16.6667%;
}

.grid-item.is-desktop-full {
  flex-basis: 100%;
}

.grid-item.is-desktop-1-3 {
  flex-basis: 33.3333%;
}

.grid-item.is-desktop-2-3 {
  flex-basis: 66.6667%;
}

.grid-item.is-align-top {
  align-self: flex-start;
}

.grid-item.is-dont-grow {
  flex-grow: 0;
}

.grid-item.is-content {
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
  display: flex;
}

.grid-item.is-sticky-heading {
  color: #fff;
  background-color: #000;
  flex-basis: 100%;
  margin-bottom: 1rem;
  margin-left: -.75rem;
  margin-right: -.75rem;
  padding: 1.2rem 2rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.grid-item.is-no-padding {
  padding: 0;
}

.grid-card {
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, .02), rgba(0, 0, 0, .02));
  padding: 1rem 1.5rem;
}

.grid-card.is-no-fill {
  background-image: none;
}

.grid-card.is-warning {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  color: #fff;
  background-color: #000;
  background-image: none;
  align-items: center;
  padding: 1.2rem 1.5rem;
  display: flex;
}

.button-bg {
  z-index: -1;
  width: 0%;
  height: 100%;
  background-color: var(--nandos-red);
  margin-right: auto;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.button-bg.is-green {
  background-color: var(--nandos-red);
}

.button-text {
  z-index: 1;
  font-size: 1.1rem;
  font-weight: 400;
  position: relative;
}

.button-text.is-feature {
  flex: 1;
  font-size: 1.5rem;
  text-decoration: none;
}

.button-flag {
  z-index: 1;
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
}

.button-flag.is-feature {
  width: 3rem;
  height: 3rem;
  transform: rotate(-2deg);
}

.dashboard_nandos-logo {
  width: 4rem;
  height: 4rem;
  background-color: #fff;
}

.nandos-chicken-logo {
  width: 4rem;
  height: 4rem;
}

.country-flag {
  width: 5rem;
  height: 5rem;
  transform: rotate(6deg);
}

.country-name {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  color: #fff;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.grid-item_bg {
  z-index: -1;
  background-color: #000;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: -.5rem;
  right: -.5rem;
  transform: rotate(-2deg);
}

.grid-item_bg.is-green {
  background-color: var(--nandos-green);
}

.tab-pane_inner {
  display: flex;
}

.nav-countries_list {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-direction: column;
  display: flex;
}

.tab-link {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  text-align: center;
  background-color: rgba(45, 41, 41, .1);
  justify-content: center;
  padding: .75rem 1.5rem;
  font-family: Nandos hand alt, sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  text-decoration: none;
  transition: all .3s cubic-bezier(.23, 1, .32, 1);
  display: flex;
  position: relative;
}

.tab-link:hover {
  background-color: rgba(50, 49, 51, .25);
  transform: rotate(2deg);
}

.tab-link:focus-visible {
  outline-offset: 2px;
  outline: 4px solid #000;
}

.tab-link[data-wf-focus-visible] {
  outline-offset: 2px;
  outline: 4px solid #000;
}

.tab-link.w--current {
  background-color: var(--nandos-red);
  color: #fff;
}

.tab-link.w--current:hover {
  color: #fff;
  transform: rotate(-2deg);
}

.dashboard-info_mobile {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-direction: column;
  justify-content: flex-end;
  display: none;
}

.rich-text {
  margin-bottom: 1rem;
}

.rich-text h2 {
  transform: rotate(-1deg);
}

.rich-text h3 {
  color: var(--nandos-red);
  text-transform: capitalize;
  font-weight: 400;
}

.rich-text a {
  color: var(--nandos-red);
}

.image-full {
  width: 100%;
}

.quote-wrapper {
  padding-bottom: 1rem;
  position: relative;
}

.overlay-icon {
  z-index: 1;
  width: 8rem;
  height: 8rem;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  top: auto;
  bottom: 0;
  left: auto;
  right: -1.5rem;
}

.overlay-icon.is-top-left {
  margin-top: -1.5rem;
  margin-left: -1.5rem;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: auto;
}

.overlay-icon.is-top-right {
  top: 1.5rem;
  bottom: auto;
  left: auto;
  right: 1.5rem;
}

.overlay-icon.is-rotate {
  transform: rotate(-20deg);
}

.image-icon {
  width: 8rem;
  height: 8rem;
  background-image: url('../images/peri-hand-1.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: -2.5rem;
  margin-left: -2.5rem;
  position: absolute;
}

.image-wrapper {
  position: relative;
}

.rich-text-image {
  width: 100%;
  height: 25rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
  display: flex;
  position: relative;
  overflow: hidden;
  transform: rotate(-1deg);
}

.clear {
  margin: 0;
  padding: 0;
}

.block-quote {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.small-value {
  color: #000;
  background-color: rgba(0, 0, 0, .1);
  padding: .2rem .3rem;
  font-family: Roboto, sans-serif;
  font-size: 1rem;
  line-height: 1;
  display: inline-block;
  transform: rotate(-2deg);
}

.small-value.is-black {
  color: #fff;
  background-color: #000;
}

.metric {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex: none;
  align-items: center;
  font-family: Nandos hand alt, sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1;
  display: flex;
}

.metric.is-small {
  font-size: 2rem;
}

.small-value_wrapper {
  grid-column-gap: .25rem;
  grid-row-gap: .25rem;
  flex-wrap: wrap;
  justify-content: flex-end;
  display: flex;
}

.metric-wrapper {
  min-height: 3.5rem;
  grid-column-gap: 1rem;
  grid-row-gap: .25rem;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  flex-flow: column wrap;
  justify-content: center;
  align-items: stretch;
  padding: .5rem;
  display: flex;
}

.metric-wrapper:hover {
  background-color: rgba(0, 0, 0, .05);
}

.metric-wrapper.is-last {
  border-bottom-style: none;
}

.metric-wrapper.is-last.is-total {
  border-top: 1px dashed #000;
  margin-top: -1px;
}

.metric-wrapper.is-header:hover {
  background-color: rgba(0, 0, 0, 0);
}

.metric-label {
  text-transform: capitalize;
  flex: 1;
  margin: 0;
  padding: 0;
  font-size: 1.075rem;
  font-weight: 700;
  line-height: 1.2;
}

.metric-item {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  text-align: right;
  flex-wrap: wrap;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
  display: flex;
}

.metric-item.is-shrink {
  flex: 0 auto;
}

.button-wrapper {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.metrics-list {
  flex-direction: column;
  align-self: stretch;
  padding-bottom: 1rem;
  display: flex;
}

.divider {
  height: 1px;
  background-color: rgba(0, 0, 0, .2);
  align-self: stretch;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.divider.is-narrow {
  margin-top: 0;
  margin-bottom: 0;
}

.metric-row {
  grid-column-gap: 1rem;
  align-items: center;
  display: flex;
}

.icon {
  width: 3rem;
  height: 3rem;
}

.warning-content {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  flex: 1;
  align-items: center;
  display: flex;
}

.is-highlighted {
  color: var(--nandos-red);
  text-transform: capitalize;
  margin-bottom: 1.5rem;
  padding-top: .5rem;
  padding-bottom: .2rem;
  font-weight: 400;
  display: inline-block;
}

.tab-notification_wrapper {
  z-index: 100;
  grid-column-gap: .25rem;
  margin-top: -.5rem;
  margin-left: 13rem;
  display: none;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: auto;
}

.tab-notification {
  color: #fff;
  background-color: #000;
  flex: none;
  margin-top: .5rem;
  padding: .6rem;
  transform: rotate(-4deg);
}

.tab-notification_arrow {
  width: 2rem;
  height: 2rem;
}

.country-links {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-direction: row;
  flex: 1;
  align-self: stretch;
  display: flex;
}

.bar-chart {
  height: 2rem;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  display: flex;
  position: relative;
}

.bar-chart_value-2 {
  background-color: var(--nandos-green);
  justify-content: center;
  align-self: stretch;
  align-items: center;
  padding-right: .5rem;
  display: flex;
  position: relative;
}

.bar-chart_value-2.is-35 {
  width: 35%;
  background-color: var(--nandos-green);
}

.bar-chart_second-value {
  z-index: 1;
  color: #fff;
  margin-left: auto;
  line-height: 1;
  position: relative;
}

.bar-chart_first-value {
  z-index: 1;
  color: #fff;
  margin-right: auto;
  position: relative;
}

.tooltip {
  color: #fff;
  background-color: #000;
  justify-content: center;
  margin-bottom: .5rem;
  padding: .1rem .3rem;
  display: flex;
  position: absolute;
  bottom: 100%;
}

.bar-chart_bar {
  background-color: var(--nandos-red);
  flex: 1;
  justify-content: center;
  align-self: stretch;
  align-items: center;
  padding-left: .5rem;
  padding-right: .5rem;
  display: flex;
  position: relative;
}

.bar-chart_bar.is-35 {
  width: 35%;
  background-color: var(--nandos-green);
  outline-offset: 0px;
  outline: 3px solid #fafafa;
  padding: .5rem;
}

.bar-chart_bar.is-2 {
  background-color: var(--nandos-green);
}

.bar-chart_bar.is-48 {
  width: 48%;
  flex: 0 auto;
}

.tooltip-notch {
  width: .5rem;
  height: .5rem;
  background-color: #000;
  margin-top: -.25rem;
  position: absolute;
  top: 100%;
  transform: rotate(45deg);
}

.bar-chart_overlay {
  background-color: rgba(0, 0, 0, .1);
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.multi-metric {
  width: 55%;
  display: flex;
}

.chart-in-section {
  align-self: stretch;
  padding-top: 1rem;
}

.chart-in-section.is-last {
  border-bottom-color: rgba(0, 0, 0, 0);
  margin-bottom: 0;
  padding-bottom: 0;
}

.sticky-heading {
  z-index: 99;
  margin-bottom: 1rem;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 2rem;
}

.sticky-heading.is-space-above {
  margin-top: 3rem;
}

.page-nav {
  z-index: 100;
  grid-column-gap: 1rem;
  background-color: #fff;
  align-items: center;
  margin-bottom: 2rem;
  margin-left: -2rem;
  margin-right: -2rem;
  padding: 1rem 3rem;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.paragraph-2 {
  margin-bottom: 0;
}

.sticky-heading_text {
  color: #fff;
  background-color: #000;
  padding: .7rem .8rem;
  font-size: 2.2rem;
  transform: rotate(-2deg);
  box-shadow: 0 14px 14px -5px rgba(0, 0, 0, .16);
}

.sticky-heading_text.is-long {
  transform: rotate(-.5deg);
}

.sticky-heading_text.is-medium {
  transform: rotate(-1deg);
}

.back-to-top {
  z-index: 100;
  width: 4rem;
  height: 4rem;
  opacity: 0;
  background-color: #fff;
  border-radius: 100px;
  padding: .3rem;
  display: none;
  position: fixed;
  top: auto;
  bottom: 0;
  left: auto;
  right: 3rem;
  box-shadow: 0 15px 15px rgba(0, 0, 0, .2);
}

.content-top {
  height: 0;
}

.back-to-top_icon {
  transition: transform .2s;
}

.back-to-top_icon:hover {
  transform: scale(.9)rotate(-5deg);
}

.feature-country-buttons {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  flex-wrap: wrap;
  align-self: stretch;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
  display: flex;
}

.feature-country {
  grid-column-gap: 1rem;
  color: #000;
  background-color: #e9e9e9;
  flex: auto;
  align-items: center;
  padding: 1rem;
  font-family: Nandos hand alt, sans-serif;
  text-decoration: none;
  display: flex;
}

.feature-country:hover {
  color: #fff;
  background-color: #000;
}

.feature-country_arrow {
  width: 1.5rem;
  height: 1.5rem;
  justify-content: center;
  align-items: center;
  display: flex;
}

.image-grid {
  height: 31rem;
  grid-column-gap: 2rem;
  grid-row-gap: 2px;
  grid-template-rows: auto auto auto auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  align-self: stretch;
  margin-top: 1rem;
  display: flex;
}

.image-left {
  width: 33.3333%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
  overflow: hidden;
}

.images-right {
  grid-column-gap: 2px;
  grid-row-gap: 2rem;
  flex-direction: column;
  flex: 1;
  align-self: stretch;
  display: flex;
}

.image-right_top {
  height: 50%;
  flex: 1;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.images-right_bottom {
  height: 100%;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  flex: 1;
  display: flex;
}

.grid-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  align-self: center;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  transform: rotate(1deg);
}

.grid-image.is-2, .grid-image.is-4 {
  transform: rotate(-1deg);
}

.image-right_bottom-left {
  height: 100%;
  flex: 1;
  position: relative;
}

.image-right_bottom-right {
  flex: 1;
  position: relative;
}

.page-nav_button {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  text-align: center;
  background-color: rgba(45, 41, 41, .1);
  justify-content: center;
  padding: .55rem 1rem;
  font-family: Roboto, sans-serif;
  font-size: .8rem;
  font-weight: 700;
  text-decoration: none;
  transition: all .3s cubic-bezier(.23, 1, .32, 1);
  display: flex;
  position: relative;
}

.page-nav_button:hover {
  background-color: rgba(50, 49, 51, .25);
  transform: rotate(2deg);
}

.page-nav_button:focus-visible {
  outline-offset: 2px;
  outline: 4px solid #000;
}

.page-nav_button[data-wf-focus-visible] {
  outline-offset: 2px;
  outline: 4px solid #000;
}

.page-nav_button.w--current:hover {
  color: #fff;
  transform: rotate(-2deg);
}

.dummy {
  height: 100vh;
}

.main-nav_menu {
  grid-row-gap: 1rem;
  flex-direction: column;
  font-family: Nandos hand alt, sans-serif;
  display: flex;
}

.nav-title {
  text-align: center;
  padding: 1rem;
  font-family: Roboto, sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
}

.nav-brand {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  display: flex;
}

.tab-link_text {
  z-index: 1;
  position: relative;
}

.tab-link_text.is-feature {
  flex: 1;
  font-size: 1.5rem;
  text-decoration: none;
}

.section-heading {
  margin-top: 1rem;
}

.main-nav_shadow {
  display: none;
}

.heading {
  font-weight: 400;
}

.row {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  align-self: stretch;
  display: flex;
}

.row.align-center {
  align-items: center;
}

.col {
  flex: 1;
}

.col.is-feedback-chart {
  width: 35%;
  min-width: 320px;
  flex: none;
  align-self: center;
}

.col.is-labour-chart {
  max-width: 50%;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  flex-wrap: wrap;
  flex: 0 auto;
  justify-content: center;
  align-self: stretch;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 2rem;
  display: flex;
}

.rich-text-with-icons h2 {
  transform: rotate(-1deg);
}

.rich-text-with-icons h3 {
  color: var(--nandos-red);
  text-transform: capitalize;
  font-weight: 400;
}

.rich-text-with-icons figure {
  width: 18%;
  min-width: 150px;
  padding: 1rem;
}

.labour-chart {
  width: 14rem;
  max-width: none;
}

.chart-note {
  opacity: .63;
  font-size: .9rem;
}

.dropdown_wrap {
  flex: 1;
  font-family: Roboto, sans-serif;
  display: flex;
  position: relative;
}

.dropdown_wrap:focus {
  z-index: 1;
}

.dropdown_trigger {
  background-color: #eae9e9;
  background-image: none;
  flex: 1;
  padding: 1rem;
  line-height: 1;
}

.dropdown_trigger:hover, .dropdown_trigger:active {
  background-image: linear-gradient(to bottom, var(--grey-fade), var(--grey-fade));
}

.dropdown_list {
  z-index: 1;
  background-color: #fff;
  padding-top: .2rem;
  padding-bottom: .2rem;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
  box-shadow: 0 1px 4px 2px rgba(0, 0, 0, .2);
}

.dropdown_list.w--open {
  top: -.2rem;
}

.year-select_wrap {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  align-items: center;
  display: flex;
}

.dropdown_link {
  background-image: none;
  border-bottom: 1px solid rgba(0, 0, 0, .05);
  padding: 1rem;
  line-height: 1;
}

.dropdown_link:hover {
  background-color: var(--grey-fade);
  background-image: linear-gradient(to bottom, var(--grey-fade), var(--grey-fade));
}

.dropdown_link:active {
  background-image: linear-gradient(to bottom, var(--grey-fade), var(--grey-fade)), linear-gradient(to bottom, var(--grey-fade), var(--grey-fade));
}

.dropdown_link:focus {
  background-image: linear-gradient(to bottom, var(--grey-fade), var(--grey-fade));
}

.menu_label {
  z-index: 1;
  text-align: center;
  margin-top: .5rem;
  font-size: 1.1rem;
  font-weight: 400;
  position: relative;
}

.menu_label.is-feature {
  flex: 1;
  font-size: 1.5rem;
  text-decoration: none;
}

.feature-country_wrap {
  align-self: stretch;
}

@media screen and (max-width: 991px) {
  .padding-xlarge {
    padding: 3rem;
  }

  .margin-xlarge {
    margin: 3rem;
  }

  .padding-xhuge {
    padding: 6rem;
  }

  .padding-xxhuge {
    padding: 8rem;
  }

  .padding-huge {
    padding: 5rem;
  }

  .margin-large {
    margin: 2.5rem;
  }

  .padding-xxlarge {
    padding: 4rem;
  }

  .padding-large {
    padding: 2.5rem;
  }

  .margin-huge {
    margin: 5rem;
  }

  .padding-medium {
    padding: 1.5rem;
  }

  .margin-xxlarge {
    margin: 4rem;
  }

  .margin-xhuge {
    margin: 6rem;
  }

  .margin-medium {
    margin: 1.5rem;
  }

  .margin-xxhuge {
    margin: 8rem;
  }

  .margin-horizontal {
    margin-top: 0;
    margin-bottom: 0;
  }

  .padding-top {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .margin-vertical {
    margin-left: 0;
    margin-right: 0;
  }

  .margin-bottom {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .padding-left {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
  }

  .padding-vertical {
    padding-left: 0;
    padding-right: 0;
  }

  .padding-horizontal {
    padding-top: 0;
    padding-bottom: 0;
  }

  .margin-right {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
  }

  .margin-top {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .margin-left {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
  }

  .padding-right {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
  }

  .padding-bottom {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .hide-tablet {
    display: none;
  }

  .fs-styleguide_2-col {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    grid-template-columns: 1fr;
  }

  .max-width-full-tablet {
    width: 100%;
    max-width: none;
  }

  .padding-global {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .padding-section-small {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  .fs-styleguide_1-col {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
  }

  .fs-styleguide_heading-medium {
    font-size: 3rem;
  }

  .fs-styleguide_4-col {
    grid-template-columns: 1fr;
  }

  .padding-section-large {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .fs-styleguide_3-col {
    grid-template-columns: 1fr;
  }

  .button, .button.is-country-button {
    flex: 1;
  }

  .button.is-page-nav {
    flex: none;
  }

  .button.is-main-nav {
    margin-bottom: 1rem;
  }

  .fs-styleguide_section {
    grid-column-gap: 2.5rem;
    grid-template-columns: 1fr;
  }

  .padding-section-medium {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .dashboard-nav {
    width: 100vw;
    max-width: none;
    min-width: auto;
    grid-column-gap: 0rem;
    grid-row-gap: 0rem;
    flex-direction: row;
    grid-template-rows: min-content;
    grid-template-columns: min-content auto;
    align-items: center;
    margin-top: -1.5rem;
    margin-left: -1.5rem;
    padding-top: 1.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    display: flex;
    position: relative;
    top: 0;
  }

  .dashboard {
    grid-row-gap: 2rem;
    flex-direction: column;
    grid-template-rows: min-content auto min-content;
    grid-template-columns: auto;
    display: flex;
  }

  .dashboard-content {
    border-left-style: none;
    align-self: stretch;
    margin-left: 0;
    padding-top: 2rem;
    padding-left: 0;
    padding-right: 0;
    overflow: visible;
  }

  .dashboard-nav_logo {
    height: 6rem;
    flex-direction: row;
    flex: none;
  }

  .dashboard-logo_image {
    height: 100%;
  }

  .dashboard-nav_countries {
    width: 100%;
    flex-direction: row;
  }

  .dashboard-info {
    flex-direction: row;
    display: none;
  }

  .dashboard-content_tabs {
    align-items: flex-start;
  }

  .tab-contents {
    align-self: stretch;
  }

  .tab-menu {
    margin-bottom: 1rem;
  }

  .grid-item.is-desktop-1-2 {
    flex-basis: 100%;
  }

  .country-flag {
    width: 4rem;
    height: 4rem;
  }

  .nav-countries_list {
    width: 100%;
    flex-direction: row;
  }

  .tab-link {
    flex: auto;
  }

  .dashboard-info_mobile {
    flex-direction: row;
  }

  .divider.is-narrow {
    margin-bottom: 1rem;
  }

  .country-links {
    width: 100%;
    flex-direction: row;
  }

  .back-to-top {
    display: flex;
  }

  .feature-country-buttons {
    grid-row-gap: 1rem;
  }

  .page-nav_button {
    flex: auto;
  }

  .main-nav_menu {
    background-color: #fff;
    padding: 1rem 1.5rem;
  }

  .nav-brand {
    flex-direction: row;
    margin-right: auto;
  }

  .menu-button {
    width: 4rem;
    height: 4rem;
    background-color: rgba(0, 0, 0, 0);
    padding: 0;
  }

  .menu-button:active {
    opacity: 1;
    color: #000;
    background-color: #fff;
  }

  .menu-button.w--open {
    background-color: var(--nandos-red);
  }

  .menu-close {
    width: 1.5rem;
    height: 1.5rem;
    justify-content: center;
    align-items: center;
    display: none;
  }

  .menu-open {
    width: 1.5rem;
    height: 1.5rem;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .menu-button_icons {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .menu-button_icons:active {
    background-color: #fff;
  }

  .main-nav_shadow {
    height: 3rem;
    background-image: linear-gradient(rgba(0, 0, 0, .1), rgba(255, 255, 255, 0));
    padding-bottom: 0;
    padding-right: 0;
    display: block;
    position: absolute;
    top: 100%;
    bottom: auto;
    left: 0%;
    right: 0%;
  }

  .col.is-labour-chart {
    max-width: 40%;
    flex-direction: column;
  }

  .dropdown_wrap {
    flex-direction: column;
  }

  .dropdown_trigger {
    width: 100%;
    align-self: stretch;
  }

  .dropdown_list.w--open {
    top: 0%;
    bottom: auto;
    left: 0%;
    right: 0%;
  }

  .year-select_wrap {
    margin-bottom: 1rem;
  }

  .menu_label {
    margin-bottom: .5rem;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1rem;
  }

  .padding-xlarge {
    padding: 2rem;
  }

  .margin-xlarge {
    margin: 2rem;
  }

  .padding-xhuge {
    padding: 4rem;
  }

  .padding-xxhuge {
    padding: 4.5rem;
  }

  .padding-huge {
    padding: 3.5rem;
  }

  .margin-large {
    margin: 1.5rem;
  }

  .padding-xxlarge {
    padding: 3rem;
  }

  .padding-large {
    padding: 1.5rem;
  }

  .margin-huge {
    margin: 3.5rem;
  }

  .padding-medium {
    padding: 1.25rem;
  }

  .margin-xxlarge {
    margin: 3rem;
  }

  .margin-xhuge {
    margin: 4rem;
  }

  .margin-medium {
    margin: 1.25rem;
  }

  .margin-xxhuge {
    margin: 4.5rem;
  }

  .margin-horizontal {
    margin-top: 0;
    margin-bottom: 0;
  }

  .padding-top {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .margin-vertical {
    margin-left: 0;
    margin-right: 0;
  }

  .margin-bottom {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .padding-left {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
  }

  .padding-vertical {
    padding-left: 0;
    padding-right: 0;
  }

  .padding-horizontal {
    padding-top: 0;
    padding-bottom: 0;
  }

  .margin-right {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
  }

  .margin-top {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .margin-left {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
  }

  .padding-right {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
  }

  .padding-bottom {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .hide-mobile-landscape {
    display: none;
  }

  .fs-styleguide_heading-large {
    font-size: 3rem;
  }

  .heading-style-h3 {
    font-size: 1.5rem;
  }

  .heading-style-h1 {
    font-size: 4rem;
  }

  .padding-global {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .padding-section-small {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .fs-styleguide_section-header {
    font-size: .875rem;
  }

  .fs-styleguide_heading-medium {
    font-size: 2rem;
  }

  .max-width-full-mobile-landscape {
    width: 100%;
    max-width: none;
  }

  .heading-style-h4 {
    font-size: 1rem;
  }

  .text-style-nowrap {
    white-space: normal;
  }

  .heading-style-h6 {
    font-size: .75rem;
  }

  .padding-section-large {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .text-size-large {
    font-size: 1.25rem;
  }

  .heading-style-h2 {
    font-size: 2rem;
  }

  .fs-styleguide_version, .heading-style-h5 {
    font-size: .875rem;
  }

  .button {
    grid-column-gap: .5rem;
    grid-row-gap: .25rem;
    flex: auto;
    align-items: center;
    padding-left: .75rem;
    padding-right: .75rem;
  }

  .button.is-feature {
    align-self: stretch;
  }

  .padding-section-medium {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .home-message_component {
    padding: 0;
  }

  .home-message_content {
    border-radius: 0;
  }

  .dashboard-nav_logo {
    height: 5rem;
    grid-row-gap: 0rem;
  }

  .dashboard-nav_countries {
    flex-wrap: wrap;
  }

  .tab-menu {
    grid-column-gap: .5rem;
    flex-wrap: wrap;
  }

  .grid-card, .grid-card.is-warning {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .country-name {
    font-size: 4rem;
  }

  .tab-link {
    padding-left: .8rem;
    padding-right: .8rem;
  }

  .small-value {
    font-size: .8rem;
  }

  .metric {
    font-size: 2rem;
  }

  .metric-label {
    font-size: 1rem;
  }

  .metric-item {
    grid-row-gap: .25rem;
  }

  .button-wrapper {
    grid-column-gap: .5rem;
    grid-row-gap: .5rem;
  }

  .country-links {
    flex-wrap: wrap;
  }

  .feature-country-buttons {
    flex-direction: column;
  }

  .nav-brand {
    grid-row-gap: 0rem;
  }

  .menu-button {
    width: 4rem;
    height: 4rem;
    padding: 0;
    position: relative;
  }

  .menu-button_icons {
    display: flex;
  }

  .row {
    flex-direction: column;
    align-items: flex-start;
  }

  .col {
    align-self: flex-start;
  }

  .col.is-feedback-chart {
    width: auto;
    min-width: auto;
    align-self: flex-start;
  }

  .col.is-labour-chart {
    max-width: none;
    flex-direction: row;
    align-self: flex-start;
    padding-top: 0;
    padding-left: 0;
  }

  .labour-chart {
    width: auto;
  }
}

@media screen and (max-width: 479px) {
  .margin-horizontal {
    margin-top: 0;
    margin-bottom: 0;
  }

  .padding-top {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .margin-vertical {
    margin-left: 0;
    margin-right: 0;
  }

  .margin-bottom {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .padding-left {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
  }

  .padding-vertical {
    padding-left: 0;
    padding-right: 0;
  }

  .padding-horizontal {
    padding-top: 0;
    padding-bottom: 0;
  }

  .margin-right {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
  }

  .margin-top {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .margin-left {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
  }

  .padding-right {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
  }

  .padding-bottom {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .max-width-full-mobile-portrait {
    width: 100%;
    max-width: none;
  }

  .heading-style-h1 {
    font-size: 3rem;
  }

  .padding-global {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .hide-mobile-portrait {
    display: none;
  }

  .button.is-large {
    align-self: stretch;
  }

  .button.is-page-nav {
    width: 100%;
  }

  .dashboard-nav {
    grid-template-rows: min-content auto;
    grid-template-columns: auto;
  }

  .grid-item.is-desktop-1-3 {
    flex-basis: 100%;
  }

  .grid-card.is-warning {
    flex-direction: column;
  }

  .country-flag {
    width: 3rem;
    height: 3rem;
  }

  .country-name {
    font-size: 2.8rem;
  }

  .metric.is-small {
    font-size: 1.2rem;
  }

  .metric-item.is-shrink {
    grid-column-gap: .2rem;
  }

  .button-wrapper {
    grid-row-gap: 1rem;
    flex-direction: column;
    align-self: stretch;
  }

  .image-grid {
    height: auto;
    grid-row-gap: 2rem;
    flex-direction: column;
  }

  .image-left {
    width: 100%;
    height: 14rem;
  }

  .images-right {
    flex: 0 auto;
  }

  .image-right_top {
    height: 14rem;
    flex: 0 auto;
  }

  .images-right_bottom {
    flex-direction: column;
  }

  .image-right_bottom-left, .image-right_bottom-right {
    height: 14rem;
    flex: 0 auto;
  }

  .labour-chart {
    width: 100%;
  }
}

#w-node-_00be5590-5a0f-e22a-3534-165575c7ff2c-b64efc66 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: stretch;
}

#w-node-a48c4ef5-4b87-7efe-529d-674b015441a6-5aec3156, #w-node-_2be3187e-acba-9fef-4c8f-f56f73af7a64-5aec3156, #w-node-_50bb6b72-56cc-33a4-00c2-50b96e2971a2-5aec3156, #w-node-_00be5590-5a0f-e22a-3534-165575c7ff2c-b64efc6b, #w-node-_00be5590-5a0f-e22a-3534-165575c7ff2c-b64efc6e, #w-node-_00be5590-5a0f-e22a-3534-165575c7ff2c-b64efc70 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627ca17-b64efc71, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ca1c-b64efc71, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ca21-b64efc71, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ca26-b64efc71, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ca2c-b64efc71, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ca32-b64efc71, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ca38-b64efc71 {
  justify-self: start;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cb45-b64efc71, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cb5e-b64efc71 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cb61-b64efc71 {
  justify-self: start;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cb63-b64efc71 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cb66-b64efc71 {
  justify-self: start;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cbb8-b64efc71, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cbc2-b64efc71, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cbc3-b64efc71 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cc31-b64efc71, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc36-b64efc71, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc3b-b64efc71, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc40-b64efc71, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc45-b64efc71, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc4a-b64efc71, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc54-b64efc71, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc59-b64efc71, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc5e-b64efc71, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc63-b64efc71, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc68-b64efc71, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc6d-b64efc71, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc72-b64efc71, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc77-b64efc71, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc7c-b64efc71, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc81-b64efc71, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc86-b64efc71 {
  justify-self: start;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cc8a-b64efc71 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cc8b-b64efc71 {
  justify-self: start;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cc8d-b64efc71 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cc90-b64efc71, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc95-b64efc71, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc9a-b64efc71, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccaf-b64efc71, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccb4-b64efc71, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccb9-b64efc71, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccbe-b64efc71, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccc3-b64efc71, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccc8-b64efc71, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccd2-b64efc71, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccd7-b64efc71, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccdc-b64efc71, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cce1-b64efc71, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cce6-b64efc71, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cceb-b64efc71, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccf0-b64efc71, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccf5-b64efc71, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccfa-b64efc71, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccff-b64efc71, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cd04-b64efc71 {
  justify-self: start;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cd08-b64efc71 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cd09-b64efc71, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cd0e-b64efc71, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cd13-b64efc71, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cd18-b64efc71 {
  justify-self: start;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cd6b-b64efc71 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_00be5590-5a0f-e22a-3534-165575c7ff2c-b64efc72 {
  align-self: stretch;
}

@media screen and (max-width: 991px) {
  #w-node-_00be5590-5a0f-e22a-3534-165575c7ff2c-b64efc72 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }
}


@font-face {
  font-family: 'Nandos hand alt';
  src: url('../fonts/nandos-hand-alt.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}